
#root-grid {
    display: grid;
    grid-template-rows: 4rem 1fr 2rem; /* Header, content, footer */
    grid-template-columns: auto 1fr; /* Sidebar, content */
    grid-template-areas:
        'grid-header grid-header'
        'grid-sidebar grid-content'
        'grid-footer grid-footer';
    height: 100vh;
    max-height: 100vh;
}

#root-grid > #grid-header {
    grid-area: grid-header;

    height: 64px;
    padding: 8px;
}

#root-grid > #grid-sidebar {
    grid-area: grid-sidebar;
    overflow: hidden;
}

#root-grid > #grid-content {
    grid-area: grid-content;
    background-color: white;
    overflow: auto; /* Scroll if content overflows */
}

#root-grid > #grid-footer {
    grid-area: grid-footer;

    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#app-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 100%;
}

#app-header img {
    height: 100%;
    width: auto;
}

#app-header span {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}

.patient-picker {
    padding: 4px;
}

.app-picker {
    padding: 4px;
}
