<!DOCTYPE html>
<html lang="en" data-color="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavEPJ - Utviklings-EPJ</title>

    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/8.6.0/index.min.css">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div id="root-grid">
    <div id="grid-header">
        {% include "parts/header.html" %}
    </div>
    <div id="grid-sidebar">
        <div class="patient-picker">
            <h2>Pasienter</h2>
        </div>
        <div class="app-picker">
            <h2>Apper</h2>
        </div>
    </div>
    <div id="grid-content">
        {% include "parts/no-app.html" %}
    </div>
    <div id="grid-footer" data-color="brand-blue">
        <div>NavEPJ er en fiktiv EPJ med falske data fra Dolly.</div>
        <a class="navds-link navds-label navds-label--small"
           href="https://github.com/navikt/nav-fhir-server"
           target="_blank">
            Kildekode på GitHub ↗
        </a>
    </div>
</div>
<script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.7/bundles/datastar.js"></script>
</body>
</html>
